<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.gabrielmarcano.agent-watch-bridge</string>
  <key>ProgramArguments</key>
  <array>
    <string>{{.Binary}}</string>
    <string>run</string>
    <string>--config</string>
    <string>{{.ConfigPath}}</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HERDR_SOCKET_PATH</key><string>{{.SocketPath}}</string>
    <key>HERDR_PLUGIN_STATE_DIR</key><string>{{.StateDir}}</string>
  </dict>
  <key>RunAtLoad</key><true/>
  <key>KeepAlive</key><true/>
  <key>ThrottleInterval</key><integer>10</integer>
  <key>StandardOutPath</key><string>{{.LogPath}}</string>
  <key>StandardErrorPath</key><string>{{.LogPath}}</string>
</dict>
</plist>
